/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* ----- Custom CSS ----- */
html,
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    /*Use the image from the image folder*/
    background-image: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: This keeps the background fixed while scrolling */
}

.app {
    display: flex;
    background: rgb(255, 255, 255);
}

#link {
    text-decoration: none;
    color: rgb(46, 46, 46);
}

/* ----- Nav ------ */

.side-nav {
    background-color: rgb(43, 43, 63);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .side-nav .logo-container,
    .side-nav .controls-container {
        padding: 40px 25px;
        display: flex;
        flex-direction: column;
    }

        .side-nav .logo-container img {
            width: 20px;
        }

    .side-nav .icon {
        color: rgb(255, 255, 255);
    }

    .side-nav .icon,
    .side-nav .logo-container img {
        cursor: pointer;
    }

/* ----- Dashboard ------ */

.dashboard {
    padding: 30px;
    width: 100%;
}

    .dashboard input {
        margin: 10px 0;
    }

    .dashboard .ticket-container {
        height: 80vh;
        overflow: scroll;
    }

/* ----- TicketCard ------ */

.ticket-card {
    display: flex;
    width: 100%;
}

    .ticket-card #link {
        display: flex;
        width: 100%;
    }

        .ticket-card #link > * {
            background-color: rgb(221, 221, 221);
            margin: 2px;
            padding: 30px;
            width: 100%;
            display: flex;
            align-items: center;
        }

    .ticket-card .ticket-color {
        width: 15px;
        margin: 2px;
    }

    .ticket-card .avatar-container {
        display: flex;
        justify-content: center;
        width: 80px;
    }

    .ticket-card .img-container {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        overflow: hidden;
    }

        .ticket-card .img-container img {
            width: 100%;
        }

    .ticket-card .status-display {
        display: flex;
        justify-content: center;
    }

    .ticket-card .priority-display {
        display: flex;
        justify-content: center;
    }

        .ticket-card .priority-display .star-container {
            display: flex;
        }

            .ticket-card .priority-display .star-container h3 {
                margin: 7px;
                padding: 0;
                color: rgb(167, 167, 167);
            }

    .ticket-card .progress-display {
        min-width: 200px;
    }

    .ticket-card .delete-block,
    .ticket-card .restore-block {
        background-color: rgb(221, 221, 221);
        width: 50px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .ticket-card .delete-block .delete-icon,
        .ticket-card .restore-block .restore-icon {
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: rgb(61, 61, 61);
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }

    .ticket-card .progress-bar {
        width: 100%;
        height: 30px;
        background-color: rgb(158, 158, 158);
        border-radius: 15px;
        overflow: hidden;
    }

        .ticket-card .progress-bar .progress-indicator {
            background-color: rgb(104, 104, 175);
            height: 100%;
        }

/* ----- Account, Login, Signup ------ */

.account button,
.login button,
.signup button {
    margin: 0;
    margin-bottom: 10px;
}

/* ----- Ticket ------ */

.ticket {
    padding: 30px;
    width: 100%;
}

    .ticket .ticket-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ticket form {
        display: flex;
    }

        .ticket form section {
            display: flex;
            flex-direction: column;
            margin: 10px;
            width: 500px;
        }

        .ticket form label {
            margin: 20px 0 0 0;
        }

        .ticket form input,
        select,
        textarea,
        button {
            padding: 10px;
            font-size: 15px;
            border-radius: 10px;
            border: 1.5px solid rgb(218, 218, 218);
            margin: 5px;
        }

        .ticket form .multiple-input-container {
            display: flex;
            margin: 20px 0 20px 0;
        }

    .ticket textarea {
        height: 140px;
        resize: none;
    }

    .ticket .img-preview {
        margin: 20px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        overflow: hidden;
    }

        .ticket .img-preview img {
            width: 100%;
        }
